<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>

    <title> RANGO </title>
    <link rel="stylesheet" href="{% static "class/base.css" %}"/>
    <script src="{% static "js/jquery.js" %}"></script>
</head>

<body>
<h1>Rango says...</h1>
<div>
    hey there partner!  <br/>
    <Strong>{{ boldmessage }}</Strong><br/>
</div>
<div>
    <a href="/rango/about/">About </a><br/>
   <!-- <a href="/rango/">Index</a> -->
    <!-- this new code add images to the html created web page -->
    <img src="{% static "images/rango.jpg" %}" alt = "Picture of Rango"/>
    <!-- <img src = "/static/images/rango.jpeg" alt="Picture of Rango"/>-->


</div>
</body>
</html>